:root{
  --primarybg: #1A062E;
  --secondarybg: #590bc6;
  --spancolor:
}

body {
 
  font-family: Inter,
    sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
.dark-theme {

  background-color: var(--primarybg);

}

.light-theme{
background-color: var(--secondarybg);
}




